# CMakeLists.txt for {{ config.name }} schemes
set(
  {{ config.name }}_schemes_srcs
  {% for scheme in config.schemes %}
  {{ config.class_name }}Scheme_{{ scheme.class_name }}_Mod.F90
  {% endfor %}
)

add_library(nexus_toolbox_{{ config.name }}_schemes ${{"{"}}{{ config.name }}_schemes_srcs{{"}"}})
target_link_libraries(nexus_toolbox_{{ config.name }}_schemes PUBLIC nexus_toolbox_{{ config.name }})
